body{
    border: 100%;
    background-color: #1e345c;
}

div {
    border: 1px solid black;
    border-radius: 25px 25px ;
    width: 200px;
    padding: 20px;
    margin: 0 auto;
    background-color: #4266a8;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.5);
}

.resultados {
    background: #fff;
    margin-top: 20px;
    width: 160px;
}

#calcular{

    
    border: 1px solid black;
    border-radius: 25px 25px ;
    width: 80px;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.5)  
    
}


#n1{
      
    border: 1px solid black;
    border-radius: 25px 25px ;
    width: 80px;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.5)  
}

#n2{
      
    border: 1px solid black;
    border-radius: 25px 25px ;
    width: 80px;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.5)  
}
